<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lips.dao.lipsAdmin.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.lips.dao.lipsAdmin.pojo.SysPermission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_type" jdbcType="INTEGER" property="permissionType" />
    <result column="permission_key" jdbcType="VARCHAR" property="permissionKey" />
    <result column="permission_url" jdbcType="VARCHAR" property="permissionUrl" />
    <result column="permission_icon" jdbcType="VARCHAR" property="permissionIcon" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="sidebar" jdbcType="BIT" property="sidebar" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="display" jdbcType="BIT" property="display" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lips.dao.lipsAdmin.pojo.SysPermission">
    insert into sys_permission (id, permission_name, permission_type, 
      permission_key, permission_url, permission_icon, 
      weight, sidebar, remarks, 
      display)
    values (#{id,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{permissionType,jdbcType=INTEGER}, 
      #{permissionKey,jdbcType=VARCHAR}, #{permissionUrl,jdbcType=VARCHAR}, #{permissionIcon,jdbcType=VARCHAR}, 
      #{weight,jdbcType=INTEGER}, #{sidebar,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR}, 
      #{display,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lips.dao.lipsAdmin.pojo.SysPermission">
    update sys_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=INTEGER},
      permission_key = #{permissionKey,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      permission_icon = #{permissionIcon,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      sidebar = #{sidebar,jdbcType=BIT},
      remarks = #{remarks,jdbcType=VARCHAR},
      display = #{display,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, permission_name, permission_type, permission_key, permission_url, permission_icon, 
    weight, sidebar, remarks, display
    from sys_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, permission_name, permission_type, permission_key, permission_url, permission_icon, 
    weight, sidebar, remarks, display
    from sys_permission
  </select>
</mapper>