<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lips.dao.lipsAdmin.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.lips.dao.lipsAdmin.pojo.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="isAdmin" jdbcType="INTEGER" property="isadmin" />
    <result column="disabled" jdbcType="INTEGER" property="disabled" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lips.dao.lipsAdmin.pojo.SysUser">
    insert into sys_user (id, createTime, email, 
      isAdmin, disabled, password, 
      realName, loginName, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, 
      #{isadmin,jdbcType=INTEGER}, #{disabled,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lips.dao.lipsAdmin.pojo.SysUser">
    update sys_user
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      isAdmin = #{isadmin,jdbcType=INTEGER},
      disabled = #{disabled,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      loginName = #{loginname,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, createTime, email, isAdmin, disabled, password, realName, loginName, updateTime
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, createTime, email, isAdmin, disabled, password, realName, loginName, updateTime
    from sys_user
  </select>
</mapper>